<main class="index">
    <div class="imgbkg"></div>
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ahorre en sus compras</h1>
            <h3 class="mb-5">
                <em>En cualquier supermercado</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Vamos!
            </a>
        </div>
    </header>
</main>